@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>
		@foreach (Category category in ViewBag.Categories)
		{
			<p>@category.CategoryId</p>
			<p>@category.name</p>
		})
    </p>
</div>
