@{
	ViewData["Title"] = "Incomplete Tasks";
}
<h1>@ViewData["Title"]</h1>

<div class="container">

	<div class="row">
		<div class="col-3"></div>
		<div class="col col-3">
			<h2>URGENT</h2>
		</div>
		<div class="col col-3">
			<h2>NON URGENT</h2>
		</div>
		<div class="col-3"></div>
	</div>

	<div class="row">
		<div class="col-3">
			<h2>IMPORTANT</h2>
		</div>
		@*This div class will contain all records in quadrant 1*@
		<div class="col-3">
			<h3>Task</h3>
			<h4>Category: </h4>
			<h4>Do By: </h4>
		</div>
		@*This div class will contain all records in quadrant 2*@
		<div class="col-3">
			<h3>Task</h3>
			<h4>Category: </h4>
			<h4>Do By: </h4>
		</div>
		<div class="col-3"></div>
	</div>
	
	<div class="row">
		<div class="col-3">
			<h2>NON IMPORTANT</h2>
		</div>
		@*This div class will contain all records in quadrant 3*@
		<div class="col-3">
			<h3>Task</h3>
			<h4>Category: </h4>
			<h4>Do By: </h4>
		</div>
		@*This div class will contain all records in quadrant 4*@
		<div class="col-3">
			<h3>Task</h3>
			<h4>Category: </h4>
			<h4>Do By: </h4>
		</div>
		<div class="col-3"></div>
	</div>

</div>

